---
layout: page
title: superbeck
keywords: superbeck, web开发, java，移动
description: superbeck的个人博客
tagline: java, web, 移动
---
{% include JB/setup %}

<div class="row">
  <div class="span8">   
    {% assign posts_collate = site.posts %}
    {% include JB/posts_collate %}
  </div>
  
  <aside class="span4">

    <section>
    {% unless site.categories == empty %}
    <h3>分类</h3>
    <ul class="tag_box">
      {% assign categories_list = site.categories %}
      {% include JB/categories_list %}
    </ul>
    {% endunless %}  
    </section>

    <section>
    {% unless site.tags == empty %}
    <h3>TAG</h3>
    <ul class="tag_box">
      {% assign tags_list = site.tags %}
      {% include JB/tags_list %}
    </ul>
    {% endunless %}

    </section>

    <section>
    <h3>友情链接</h3>
    <ul class="friendlink">
        <li><p><a href="http://justjavac.iteye.com" target="_blank" rel="me">justjavac(iteye)</a></p></li>
    </ul>
    </section>
    
    <section>
    <h3>版权申明</h3>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/" target="_blank"><img alt="知识共享许可协议" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/cn/88x31.png" /></a><br />
    本<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">作品</span>由<a xmlns:cc="http://creativecommons.org/ns#" href="http://superbeck.github.io" property="cc:attributionName" rel="cc:attributionURL" target="_blank">superbeck</a>创作，采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/" target="_blank">知识共享署名-非商业性使用-相同方式共享 3.0 中国大陆许可协议</a>进行许可。
    </section> 
  </aside>
</div>



