<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

        {{ content }}

    {% include footer.html %}
    {% include backToTop.html %}
    <script src="{{ " /js/main.js " | prepend: site.baseurl }}" charset="utf-8"></script>
    <script src="{{ " /js/smooth-scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script>
    <script type="text/javascript">
      smoothScroll.init({
        speed: 500, // Integer. How fast to complete the scroll in milliseconds
        easing: 'easeInOutCubic', // Easing pattern to use
        offset: 20, // Integer. How far to offset the scrolling anchor location in pixels
      });
    </script>
    <!-- <script src="{{ " /js/scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->
    
    <!-- 自动收录部分 -->
    <script>(function(){
      var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?2b47099f5cc8042c13550bfd4b0e2487":"https://jspassport.ssl.qhimg.com/11.0.1.js?2b47099f5cc8042c13550bfd4b0e2487";
      document.write('<script src="' + src + '" id="sozz"><\/script>');
    })();
    </script>
  </body>

</html>
